@use "sass:color";

body{
    margin: 1px;;
}
.banner{
    &__cta{
        background: linear-gradient(to right, #000, #0000);
        height: 89%;
    }
}

.horarios{
    display: none;
    &__card{
        transition: 200ms;
        a{
            text-decoration: none;
        }
        &:hover{
            cursor: pointer;
            background-color: #e9e9e9;
        }
        &:active{
            background-color: #e2e2e2;
            scale: 1.02;
        }
    }
}

.itServes{
    display: none;
    max-width: 500px;
}